.tabbable-panel {
  border:1px solid #eee;
  padding:10px;
}

.nav-tabs {
  display:flex;
  justify-content:center;
  flex-direction:row;
  padding-bottom:14px;
}

.tabbable-line > .nav-tabs {
  border:none;
  margin:0;
}

.nav-tabs {
  text-align:center;
}

.tabbable-line > .nav-tabs > li {
  margin:2px;
}

.tabbable-line > .nav-tabs > li > a {
  border:0;
  margin-right:0;
  color:#f7fafc;
}

.tabbable-line > .nav-tabs > li > .animate {
  background-color:#16a085;
  padding-right:100px;
  padding-left:100px;
}

.tabbable-line > .nav-tabs > li > .graphic {
  background-color:#e67e22;
  padding-right:100px;
  padding-left:100px;
}

.tabbable-line > .nav-tabs > li > .web {
  background-color:#2980b9;
  padding-right:100px;
  padding-left:100px;
}

.tabbable-line > .nav-tabs > li > a > i {
  color:#a6a6a6;
}

.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom:4px solid #fbcdcf;
}

.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border:0;
  background:none !important;
  color:#333333;
}

.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color:#a6a6a6;
}

.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top:0px;
}

.tabbable-line > .nav-tabs > li.active {
  border-bottom:4px solid #f3565d;
  position:relative;
}

.tabbable-line > .nav-tabs > li.active > a {
  border:0;
  color:#333333;
}

.tabbable-line > .nav-tabs > li.active > a > i {
  color:#404040;
}

.tabbable-line > .tab-content {
  margin-top:-3px;
  background-color:#fff;
  border:0;
  border-top:1px solid #eee;
  padding:15px 0;
}

.portlet .tabbable-line > .tab-content {
  padding-bottom:0;
}

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top:4px solid transparent;
}

.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top:0;
}

.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom:0;
  border-top:4px solid #fbcdcf;
}

.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom:-2px;
  border-bottom:0;
  border-top:4px solid #f3565d;
}

.tabbable-line.tabs-below > .tab-content {
  margin-top:-10px;
  border-top:0;
  border-bottom:1px solid #eee;
  padding-bottom:15px;
}

.tab-content {
  margin:auto;
  padding:25px;
}

#tab-content {
  padding-bottom:20px;
}

.titles h4 {
  font-weight:normal;
  font-style:italic;
  font-size:23px;
}

#title-blocks {
  border:1px solid #d0d0d0;
}

.row {
  padding:10px;
  /*margin:auto;*/
}

#lessons h4 {
  padding-top:10px;
  font-family:'Lora';
}

#lessons p {
  font-family:monospace;
  font-size:x-large;
  /*text-align:left;*/
  /*margin-left:19%;*/
}

.lessons-block {
  background-color:#eff1f4;
  min-height:170px;
  text-align:center;
}

.lessons-block1 {
  background-color:rgba(255,255,255,0.6);
  min-height:170px;
  text-align:center;
}

.lb-1 {
  color:#16a085;
}

.lb-2 {
  color:#e67e22;
}

.lb-3 {
  color:#2980b9;
}

